USE [AgriApp]
GO
/****** Object:  Table [dbo].[crop_recommendations]    Script Date: 5/10/2025 3:00:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[crop_recommendations](
	[recommendation_id] [bigint] IDENTITY(1,1) NOT NULL,
	[crop_name1] [varchar](255) NULL,
	[crop_name2] [varchar](255) NULL,
	[crop_name3] [varchar](255) NULL,
	[recommendation_date] [date] NULL,
	[suitability_score1] [float] NOT NULL,
	[suitability_score2] [float] NOT NULL,
	[suitability_score3] [float] NOT NULL,
	[plot_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[recommendation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[crops]    Script Date: 5/10/2025 3:00:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[crops](
	[crop_id] [bigint] IDENTITY(1,1) NOT NULL,
	[crop_name] [varchar](255) NULL,
	[growth_duration] [varchar](255) NULL,
	[planting_advises] [varchar](3000) NULL,
	[planting_season] [varchar](255) NULL,
	[water_requirements] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[crop_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inventory_items]    Script Date: 5/10/2025 3:00:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventory_items](
	[inventory_id] [bigint] IDENTITY(1,1) NOT NULL,
	[category] [varchar](255) NULL,
	[item_name] [varchar](255) NULL,
	[quantity] [float] NOT NULL,
	[unit] [varchar](255) NULL,
	[updated_date] [datetime2](6) NULL,
	[user_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[inventory_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[land_plot]    Script Date: 5/10/2025 3:00:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[land_plot](
	[plot_id] [bigint] IDENTITY(1,1) NOT NULL,
	[added_date] [datetime2](6) NULL,
	[latitude] [float] NOT NULL,
	[longitude] [float] NOT NULL,
	[plot_name] [varchar](255) NULL,
	[user_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[plot_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[soil_details]    Script Date: 5/10/2025 3:00:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[soil_details](
	[soil_id] [bigint] IDENTITY(1,1) NOT NULL,
	[b] [real] NOT NULL,
	[k] [real] NOT NULL,
	[n] [real] NOT NULL,
	[p] [real] NOT NULL,
	[district] [varchar](255) NULL,
	[latitude] [float] NOT NULL,
	[longitude] [float] NOT NULL,
	[oc] [real] NOT NULL,
	[palika] [varchar](255) NULL,
	[parent_soil] [varchar](255) NULL,
	[ph] [real] NOT NULL,
	[province] [varchar](255) NULL,
	[zn] [real] NOT NULL,
	[plot_id] [bigint] NULL,
	[fertility_status] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[soil_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 5/10/2025 3:00:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [bigint] IDENTITY(1,1) NOT NULL,
	[email] [varchar](255) NULL,
	[first_name] [varchar](255) NULL,
	[last_name] [varchar](255) NULL,
	[password] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[weather_details]    Script Date: 5/10/2025 3:00:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[weather_details](
	[weather_id] [bigint] IDENTITY(1,1) NOT NULL,
	[forecast_date1] [date] NULL,
	[forecast_date2] [date] NULL,
	[forecast_date3] [datetime2](6) NULL,
	[hourly_time] [date] NULL,
	[humidity1] [int] NOT NULL,
	[humidity2] [int] NOT NULL,
	[humidity3] [int] NOT NULL,
	[latitude] [float] NOT NULL,
	[longitude] [float] NOT NULL,
	[soil_moisture0to1cm] [real] NOT NULL,
	[soil_temperature0cm] [real] NOT NULL,
	[temp_mean1] [real] NOT NULL,
	[temp_mean2] [real] NOT NULL,
	[temp_mean3] [real] NOT NULL,
	[visibility1] [real] NOT NULL,
	[visibility2] [real] NOT NULL,
	[visibility3] [real] NOT NULL,
	[weather_alerts] [varchar](3000) NULL,
	[weather_code1] [int] NOT NULL,
	[weather_code2] [int] NOT NULL,
	[weather_code3] [int] NOT NULL,
	[plot_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[weather_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[crop_recommendations] ON 

INSERT [dbo].[crop_recommendations] ([recommendation_id], [crop_name1], [crop_name2], [crop_name3], [recommendation_date], [suitability_score1], [suitability_score2], [suitability_score3], [plot_id]) VALUES (13, N'coffee', N'muskmelon', N'watermelon', CAST(N'2025-05-10' AS Date), 47, 21, 15, 43)
INSERT [dbo].[crop_recommendations] ([recommendation_id], [crop_name1], [crop_name2], [crop_name3], [recommendation_date], [suitability_score1], [suitability_score2], [suitability_score3], [plot_id]) VALUES (18, N'coffee', N'muskmelon', N'watermelon', CAST(N'2025-05-10' AS Date), 46, 20, 16, 49)
SET IDENTITY_INSERT [dbo].[crop_recommendations] OFF
GO
SET IDENTITY_INSERT [dbo].[crops] ON 

INSERT [dbo].[crops] ([crop_id], [crop_name], [growth_duration], [planting_advises], [planting_season], [water_requirements]) VALUES (1, N'rice', N'120 days', N'1. Ensure field is flooded for initial weeks.\n2. Transplant seedlings after 20-25 days.\n3. Apply nitrogen fertilizer in 3 split doses.\n4. Weed regularly for the first 40 days.\n5. Harvest when 80% grains turn golden.', N'Summer', N'High (requires standing water)')
INSERT [dbo].[crops] ([crop_id], [crop_name], [growth_duration], [planting_advises], [planting_season], [water_requirements]) VALUES (2, N'maize', N'90-100 days', N'1. Sow in rows with proper spacing (60x20 cm).\n2. Irrigate weekly during dry spells.\n3. Apply compost before sowing.\n4. Monitor for stem borer pests.\n5. Harvest when cobs are fully mature and husks are dry.', N'Summer/Winter', N'Moderate')
INSERT [dbo].[crops] ([crop_id], [crop_name], [growth_duration], [planting_advises], [planting_season], [water_requirements]) VALUES (3, N'chickpea', N'100-110 days', N'1. Plant after monsoon, in well-drained fields.\n2. Avoid waterlogged conditions.\n3. Treat seeds with fungicide before sowing.\n4. Apply phosphorus-rich fertilizer.\n5. Harvest when leaves turn yellow and pods are dry.', N'Winter', N'Low')
SET IDENTITY_INSERT [dbo].[crops] OFF
GO
SET IDENTITY_INSERT [dbo].[inventory_items] ON 

INSERT [dbo].[inventory_items] ([inventory_id], [category], [item_name], [quantity], [unit], [updated_date], [user_id]) VALUES (2, N'Seeds', N'Pumpkin Seeds', 30, N'pcs', CAST(N'2025-04-27T18:56:30.0831990' AS DateTime2), 6)
INSERT [dbo].[inventory_items] ([inventory_id], [category], [item_name], [quantity], [unit], [updated_date], [user_id]) VALUES (4, N'Tools', N'Hoe', 5, N'pcs', CAST(N'2025-05-10T14:00:52.2712820' AS DateTime2), 6)
SET IDENTITY_INSERT [dbo].[inventory_items] OFF
GO
SET IDENTITY_INSERT [dbo].[land_plot] ON 

INSERT [dbo].[land_plot] ([plot_id], [added_date], [latitude], [longitude], [plot_name], [user_id]) VALUES (43, CAST(N'2025-04-20T00:16:35.6166670' AS DateTime2), 26.877, 85.084, N'Farm 1', 6)
INSERT [dbo].[land_plot] ([plot_id], [added_date], [latitude], [longitude], [plot_name], [user_id]) VALUES (49, CAST(N'2025-05-10T14:02:59.5472060' AS DateTime2), 27.066, 84.783, N'Farm 2', 6)
SET IDENTITY_INSERT [dbo].[land_plot] OFF
GO
SET IDENTITY_INSERT [dbo].[soil_details] ON 

INSERT [dbo].[soil_details] ([soil_id], [b], [k], [n], [p], [district], [latitude], [longitude], [oc], [palika], [parent_soil], [ph], [province], [zn], [plot_id], [fertility_status]) VALUES (25, 0.56, 113.178, 900, 23.826, N'Bara', 26.877, 85.084, 0.9048724, N'Pacharauta Nagarpalika', N'Fluvial non calcareous', 6.41, N'Province 2', 0.17, 43, N'Fertile')
INSERT [dbo].[soil_details] ([soil_id], [b], [k], [n], [p], [district], [latitude], [longitude], [oc], [palika], [parent_soil], [ph], [province], [zn], [plot_id], [fertility_status]) VALUES (30, 1.48, 57.5016, 800, 14.212, N'Parsa', 27.066, 84.783, 0.777262151, N'Pokhariya Nagarpalika', N'Fluvial non calcareous', 6.12, N'Province 2', 0.13, 49, N'Fertile')
SET IDENTITY_INSERT [dbo].[soil_details] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([user_id], [email], [first_name], [last_name], [password]) VALUES (6, N'ghostsensei@gmail.com', N'Ghost', N'Sensei', N'$2a$10$zVyM5X.VH2/ZTr5HdTEHqOOJERFKyh2LgzgnV7k5KIFkUyUuVolu6')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET IDENTITY_INSERT [dbo].[weather_details] ON 

SET IDENTITY_INSERT [dbo].[weather_details] OFF
GO
ALTER TABLE [dbo].[crop_recommendations]  WITH CHECK ADD  CONSTRAINT [FK6aa13de8qdfrwex19ry1onp7w] FOREIGN KEY([plot_id])
REFERENCES [dbo].[land_plot] ([plot_id])
GO
ALTER TABLE [dbo].[crop_recommendations] CHECK CONSTRAINT [FK6aa13de8qdfrwex19ry1onp7w]
GO
ALTER TABLE [dbo].[inventory_items]  WITH CHECK ADD  CONSTRAINT [FK7bw09xyg2ucgdjyif5oxd9btg] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[inventory_items] CHECK CONSTRAINT [FK7bw09xyg2ucgdjyif5oxd9btg]
GO
ALTER TABLE [dbo].[land_plot]  WITH CHECK ADD  CONSTRAINT [FK4rd2o7kwqgt16lb9ppbdh1xjy] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[land_plot] CHECK CONSTRAINT [FK4rd2o7kwqgt16lb9ppbdh1xjy]
GO
ALTER TABLE [dbo].[soil_details]  WITH CHECK ADD  CONSTRAINT [FK4lhiwge1oejtguf6jtg4uaoih] FOREIGN KEY([plot_id])
REFERENCES [dbo].[land_plot] ([plot_id])
GO
ALTER TABLE [dbo].[soil_details] CHECK CONSTRAINT [FK4lhiwge1oejtguf6jtg4uaoih]
GO
ALTER TABLE [dbo].[weather_details]  WITH CHECK ADD  CONSTRAINT [FK5e0v1dekypyb5d9vd59kve85o] FOREIGN KEY([plot_id])
REFERENCES [dbo].[land_plot] ([plot_id])
GO
ALTER TABLE [dbo].[weather_details] CHECK CONSTRAINT [FK5e0v1dekypyb5d9vd59kve85o]
GO
